<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <link href="static/css/230728_실습2.css" rel="stylesheet">
    <script src="js/230728_실습1.js"></script>
    <title>실습1</title>
</head>
<body>
    <div class="box">
        <div class="img" id="img">

        </div>
        <div class="btn">
            <button type="button" onclick="ts('img/apple.webp')">사과</button>
            <button type="button" onclick="ts('img/banana.jpg')">바나나</button>
            <button type="button" onclick="ts('img/grape.jpg')">포도</button>
            <button type="button" onclick="ts('img/peach.jpg')">복숭아</button>
        </div>
    </div>

    <script>
        
    </script>
</body>
</html>