<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>실습4</title>
</head>
<body>
    <img src=<%= src %> width="500px" />
    <a href="/four1">첫번째</a>
    <a href="/four2">두번째</a>
    <a href="/four3">세번째</a>
</body>
</html>